{% extends 'default.html' %}

{% block content %}
<h1>Новости</h1>
<ul>
    {% for post in news_posts %}
        <li>
            <h2><a href="{% url 'news_detail' post.id %}">{{ post.title|censor }}</a></h2>
            <p>Дата: {{ post.created_at|date:"d.m.Y" }}</p>
            <p>{{ post.preview }}</p>
        </li>
    {% endfor %}
</ul>
{% endblock %}

{% for post in page_obj %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.preview }}</p>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
        {% endif %}
        
        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>
        
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Вперед</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
        {% endif %}
    </span>
</div>